<div class="container-fluid">
    <h2>All Customers</h2>
    <a class="btn btn-sm btn-primary" asp-action="Add">Add Customer</a>
    <a class="btn btn-sm btn-primary" asp-action="Details">Get Customer</a>
    <table class="table table-sm table-striped table-bordered m-2 text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script defer src="~/js/index.js"></script>